/*General styling of the page*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
    background-color: rgb(198, 207, 238);
    color: rgb(30, 25, 65);
  }
  ul{
      list-style-type: none;
  }
/*Icon Sizes*/
img{
  width: 2%;
}
body {margin-top: 80px;}
#main-container {margin: 0px; padding: 0px;}

/* NAV BAR */
#nav-bar {
  top: 0;
  background-color: black;
  padding: 10px;
  margin: 0px;
  height: 50px;
  width: 100%;
  position: fixed;
}
#nav-bar img {float: left; height: 100%;}
.nav-bar-item {
  float: left;
  height: 100%;
  border-radius: 10%;
  text-align: center;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.nav-bar-item:hover {color: darkgray;}
#signup {background-color: forestgreen; border: 2px solid white;}
#signup:hover {background-color: lawngreen; color: black;}
#nav-bar-search {width: 200px;}
#profile-pic {border-radius: 100%;}
.dropdown-menu {
  display: none;
  z-index: 1;
  position: absolute;
  left: 90%;
  top: 50px;
  border: 2px solid lightgray;
}
ul {list-style: none; margin: 0px; padding: 0px;}
.dropdown-menu li {
    width: 100px;
    text-align: left;
    background-color: white;
    font: 10pt "Arial";
    color: black;
    padding: 10px;
    transition: 0.5s;
}
.dropdown-menu li a {color: black; text-decoration: none;}
.dropdown-menu li:hover {background-color: #ebeaea;}


/*Body Styling*/
/* Create two unequal columns that floats next to each other */
.col{
    float: left;
    padding: 10px;
    margin: 1px 5px 1px 1px;
    border: 2px solid grey;
    border-radius: 10px;
    height: 100%;
    position: relative;
    background-color: rgb(142, 168, 207);
  }
  .left{
      width: 25%;
  }
  .right{
      width: 70%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*event navigation*/
  /* SIDE BAR */
  /*
.left {float: left; background-color: lightgray; width: 100%; height: 1000px;}
.left h2 {margin: 0px 0px 5px 0px;}
.left ul {margin: 0px; padding: 0px; font-weight: bold;}
.sublist {font-size: 10pt; color: #404040;}
*/

  /* Rows of events */
  .row{
      float: top;
      padding: 10px;
      margin: 1px 5px 1px 1px;
      border-bottom: 1px solid black;
      border-radius: 5px;
      position: relative;
      background-color: rgb(142, 168, 207);
    }

  .card{
      float:left;
      padding: 10px;
      margin: 1px 3px 1px 1px;
      border: 2px solid grey;
      border-radius: 10px;
      position: relative;
      background-color: rgb(142, 168, 207);
      width: 25%;
  }
  .card:hover{
    background-color:  rgb(15, 169, 207);
  }
  .more{
    float: right;
    padding: 10px;
    margin: 1px 5px 1px 1px;
    border: 2px solid grey;
    border-radius: 10px;
    position: relative;
    background-color: rgb(81, 134, 212);
  }
  .sublist{
      font-size: large;
      margin:10px;
  }
  .sublist li:hover{
      color: rgb(72, 124, 170);
  }
  /*initial condition*/
  .origNoShow{
    display: none;
  }