/* HEADER & MENU STYLING*/
.heading {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 9999;
}


.custom_button {
    background-color: #333333;
    margin: 5px 10px 5px 10px;
    padding: 12px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-color: white;
    border-radius: 8px; 
}

/* Body Styling */
.body-container {
    margin-top: 50px;
}
.left-container {
    float: left;
    display: block;
    text-align: center;
    background-color: lightgray;
    width: 16.66%;
    padding-bottom: 500px;
}

.custom-tabs {
    width: 100%;
    padding: 15px 0px 15px 0px;
    border-color: black #F2F2F2 #F2F2F2 #F2F2F2;   
    font-size: 20px;
}

.custom-tabs i {
    float: right;
    margin: 0px 5px;
}

.right-container {
    float: right;
    background-color:white;
    width: 83%;
    padding-bottom: 500px;
}

.right-container img {

    height: 167px;
    width: 208px;
    margin: 100px 50px 0px 100px;
}
.successful_update {
    display: none;
    background-color: green;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.right-div{
    padding: 100px 10px 0px 50px; 
}

input{
    width: 300px;
    height: 25px;
}

form{
    font-size: 20px;
}
.messages{
    display: flex;
    background: #343434;
    color: white;
}
.contact-tab {
    width: 30%;
    height: 1000px;
    background: #4b4d4f;
    color: white;
    text-align: center;
}

.contact {
    height: 75px;
    margin: 0px 0px 0px 5px; 
}
.contact img {
    height: 55px;
    width: 55px;
    float: left;
    border-radius: 50%;
    margin: 10px;
}

.contact p {
    padding: 20px 0px 0px 0px;
}

.message_container {
    width: 70%;

}

/* Chat containers */
.container {
    width:60%;
    color: black;
    float: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 0px 0px;

  }
  
  /* Darker chat container */
  .blue {
    float: right;
    border-color: #ccc;
    background-color: rgb(52, 91, 249);
  }

  /* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
  }
  
 .message_container form {
    float: right;
    position: fixed;
    padding: 10px;
    bottom: 20px;
 }

 #usermsg {
    width: 75%;
 }

 #submitmsg {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-color: white;
    border-radius: 8px; 
    width: 20%;
 }
 /*Footer Styling*/
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

footer{
    background-color: rgb(50, 50, 50);
    bottom:0px;
    }

#logoFooter{
    height: auto;
    max-width: 20%;
    float:left;
    margin-top: 80px;
    margin-left: 5%;
}
footer h4{
    color:white;
    font-size: 20px;
}
  .footerLists{
    float: left;
    padding: 10px;
    text-align: center;
    margin: 0% 4% 0% 4%;
    
  }
  .footerLinks a{
      color: white;
      text-decoration: none;
  }
  .footerLinks a:hover{
      color: gray;
  }


  .proflink{
      text-decoration: none;
      color: black;
  }