/* BASIC STRUCTURE */
* {box-sizing: border-box; font-family: Arial;}
div [class*="col-"] {display: inline-block; float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
body {margin: 0px;}
#main-container {margin: 0px; padding: 0px;}

/* NAV BAR */
#nav-bar {
    top: 0;
    background-color: black;
    padding: 10px;
    margin: 0px;
    height: 50px;
    width = 100%;
}
#nav-bar img {float: left; height: 100%;}
.nav-bar-item {
    float: left;
    height: 100%;
    border-radius: 10%;
    text-align: center;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.nav-bar-item:hover {color: darkgray;}
#signup {background-color: forestgreen; border: 2px solid white;}
#signup:hover {background-color: lawngreen; color: black;}
#nav-bar-search {width: 200px;}
#profile-pic {border-radius: 100%;}
.dropdown-menu {
    display: none;
    z-index: 1;
    position: absolute;
    left: 82%;
}
ul {list-style: none;}
.dropdown-menu li {
    width: 100px;
    text-align: left;
    background-color: white;
    font: 10pt "Arial";
    color: black;
    padding: 10px;
    transition: 0.5s;
}
.dropdown-menu li a {color: black; text-decoration: none;}
.dropdown-menu li:hover {background-color: #ebeaea;}

/* SIDE BAR */
#side-bar {
    float: left;
    background-color: lightgray;
    width: 100%;
    height: 400px;
}

/* MAIN AREA */
#project-description {
    float: left;
    background-color: white;
    height: 200px;
}

#workspace {
    float: left;
    background-color: darkgray;
    height: 200px;
}

#side-bar, #project-description, #workspace {width: 100%; padding: 20px;}

.clearfix:after {content: ""; display: table; clear: both;}
