/* BASIC STRUCTURE */
* {box-sizing: border-box; font-family: Arial;}
div [class*="col-"] {display: inline-block; float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
body {margin-top: 40px;}
#main-container {margin: 0px; padding: 0px;}

#dimming-screen {
    background-color: black;
    opacity: 80%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

/* NAV BAR */
#nav-bar {
    top: 0;
    background-color: black;
    padding: 10px;
    margin: 0px;
    height: 50px;
    width: 100%;
    position: fixed;
}
#nav-bar img {float: left; height: 100%;}
.nav-bar-item {
    float: left;
    height: 100%;
    border-radius: 10%;
    text-align: center;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.nav-bar-item:hover {color: darkgray;}
#signup {background-color: forestgreen; border: 2px solid white;}
#signup:hover {background-color: lawngreen; color: black;}
#nav-bar-search {width: 200px;}
#profile-pic {border-radius: 100%;}
.dropdown-menu {
    display: none;
    z-index: 1;
    position: absolute;
    left: 90%;
    top: 50px;
    border: 2px solid lightgray;
}
ul {list-style: none; margin: 0px; padding: 0px;}
.dropdown-menu li {
    width: 100px;
    text-align: left;
    background-color: white;
    font: 10pt "Arial";
    color: black;
    padding: 10px;
    transition: 0.5s;
}
.dropdown-menu li a {color: black; text-decoration: none;}
.dropdown-menu li:hover {background-color: #ebeaea;}

/* SIDE BAR */
#side-bar {float: left; background-color: lightgray; width: 100%; height: 1100px;}
#side-bar h2 {margin: 0px 0px 5px 0px;}
#side-bar ul {margin: 0px; padding: 0px; font-weight: bold;}
.side-bar-cat {font-size: 10pt; color: #404040;}
.side-bar-cat li {display: none; padding-left: 10px;font-weight: normal;}

/* MAIN AREA */
#project-description {
    float: left;
    background-color: white;
    height: 250px;
}
#project-description h3{padding: 0px; margin: 0px;}
#project-settings-icon {float: right; width: 40px;}
#project-status-icon {width: 40px; color: orange; margin: 5px}
#workspace {float: left; background-color: darkgray;}

#side-bar, #project-description, #workspace {width: 100%; padding: 20px;}

.clearfix:after {content: ""; display: table; clear: both;}

.category {
    background-color: lightgray;
    width: 30%;
    text-align: center;
    border-radius: 5%;
    padding: 10px;
    display: inline-block;
    vertical-align:top;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px;
}
.category h3 {margin: 0px;}

.task {
    text-align: left;
    padding: 20px;
    margin: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10%;
    font-size: 8pt;
}
.task h4 {margin: 0px;}

.task-window {
    display: none;
    height: 50%;
    width: 50%;
    background-color: lightgray;
    position: fixed;
    border-radius: 5%;
    border: 5px solid gray;
    padding: 10px;
    left: 35%;
    top: 25%;
    z-index: 2;
}
.task-window h4 {margin: 5px 0px 5px 0px;}
.task-window li {display:inline; border-radius: 10%; padding: 5px;} 
.task-window-content {
    height: 80%;
    width: 100%;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    margin: 20px 0px 0px 0px;
}
#comments{    height: 90%;
    width: 100%;
    border-radius: 5%;
    overflow: scroll;
}
#submitmsg {color: white; background-color: green;}
#delete-task, #archive-task {background-color: lightgray; border-radius: 10%; width : 100px; height : 50px; font-size: 20px; margin: 20px;}
#delete-task {color: white; background-color: red;}

.hashtag {
    background: #0070c9;
    color: white;
    border-radius: 15%;
    height: 20px;
    float: left;
    margin: 10px;
    padding: 5px 5px 25px 5px;
}
.task-window p{margin: 10px;}

/* icons */
.fa-caret-right, .fa-caret-down{padding-right: 10px;}
div [class*="fa-"] {transition: 0.2s}
div [class*="fa-"]:hover {color: darkgoldenrod}
/*Footer Styling*/

footer{
    background-color: rgb(50, 50, 50);
    display: inline-block;
    z-index: 2;
    }

#logoFooter{
    height: auto;
    max-width: 20%;
    float:left;
    margin-top: 80px;
    margin-left: 5%;
}
footer h4{color: white;}

.footerLists{
    float: left;
    padding: 10px;
    text-align: center;
    margin: 0% 4% 0% 4%;
}
.footerLinks a{color: white; text-decoration: none;}
.footerLinks a:hover{color: gray;}
form{font-size: 20px;}
/* Chat containers */
.container {
    width:60%;
    color: black;
    float: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 0px 0px;

  }
  
  /* Darker chat container */
  .blue {
    float: right;
    border-color: #ccc;
    background-color: rgb(52, 91, 249);
  }

  /* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
  }
  
 .message_container form {
    float: right;
    position: fixed;
    padding: 10px;
    bottom: 20px;
 }

 #usermsg {
    width: 75%;
 }

 #submitmsg {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-color: white;
    border-radius: 8px; 
    width: 20%;
 }